<header>
    <p>this is header</p>
    <ul>    
        <a href="#"><li>Home</li></a>
        <a href="/about"><li>AboutUs</li></a>
        <a href="#"><li>Gallery</li></a>
        <a href="#"><li>ContactUs</li></a>
        <a href="#"><li>No FUcks</li></a>

    </ul>
</header>