<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <style>
        #foot{
            border-top: 1000px;

        }

    </style>


</head>

<body>
    {{>header}}
    <h1> {{toUpper msg}} How You Doing!!! {{name}} </h1>
    <p>Home here</p>


    {{>footer}}

</body>



</html>