<!doctype html>


<html>
    <head>


    </head>

    <body>        
        {{>header}}
        
          <h3>This  is Portfolio Page</h3>  

          <div style="border :solid 4px brown ; margin:50px; paddin:10px; margin-top:200px;">
              <h4>Name : {{name}}  </h4>
              <h4> Age: {{age}}  </h4>  
               <h4>developer : {{dev}}  </h4> 
          </div>  



        {{>footer}}
    </body>

</html>